<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>

    <style> 
    /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    font-family: "Open Sans", sans-serif;
}

.page-container {
    margin: 0px;
    padding: 0px;
    max-width: 100%
}

.title-card{
    background-color: #111;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);

}

.title-text {
    color: white;
    text-align: center;
    font-size: 10em;
    margin: 0;
}

.home-page {
    width: 100vw;
    height: 100vh;
    background-image: url('/home.webp');
    background-size: cover;
    background-size: 100% 100%;

}

.menu-page{
    width: 100%;
    height: 100%;
    background-image: url("/menu.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.menu-container{
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    background-color: white;
    width: 100%;
    padding: 2em;

}

.catering-page {
    width: 100vw;
    height: 100vh;
    background-image: url("/catering.webp");
    background-size: cover;
    background-size: 100% 100%;
}


.info-page {
    width: 100vw;
    height: 100vh;
    background-image: url("/information.webp");
    background-size: cover;
    background-size: 100% 100%;
}


.reviews-page {
    width: 100vw;
    height: 100vh;
    background-image: url("/reviews.webp");
    background-size: cover;
    background-size: 100% 100%;
}

.link-container {
    padding-left: 1em;
    padding-top: 0.25em;
}

.link-container .link {
    color: #e11010; 
}

.link-container .link.active, .link-container .link:active {
    color: rgba(240, 20, 20, 0.75);
}
    </style>
  <body>
    <%cache do %>
    <div class="<%= @page %>-page"> 
        <div class="row page-container">
             <%= render 'layouts/links' %>
             <div class="col-8">
                  <% unless @page == "home" %>
                  <%= render 'layouts/title' %>
                  <% end %>
             <%= yield %>
             </div>
             <div class="col-2"> </div>
        </div>
     </div>
     <% end %>
   
</body>
</html>
